PORT=5050
SSL_PORT=5051
DATABASE_URL=postgresql://root:root@localhost:5430/app
SMTP_HOST=localhost
SMTP_PORT=4500
SMTP_USER=fake_mail_user
SMTP_PASS=fake_mail_password
INBUCKET_URL=http://localhost:4501
COGNITO_ACCESS_KEY=magnito-access-key
COGNITO_SECRET_KEY=magnito-secret-key
COGNITO_REGION=ap-northeast-1
COGNITO_USER_POOL_ID=ap-northeast-1_default
COGNITO_USER_POOL_CLIENT_ID=default-client-id
