# dependencies
node_modules/

# misc
.DS_Store
*.pem
tsconfig.tsbuildinfo
data/*
!data/.gitkeep
.env
**/$*.ts

# debug
npm-debug.log*

# app
.next/
**/*.css.d.ts
**/*.css.d.ts.map
frourio.*.ts
tests/setupMswHandlers.ts
coverage/
server/prisma/
